.main-info-container{
    width: 350px;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lesson-info-container{
    width: 1000px;
    height: 300px;
}

.CardActions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn{
    width: 100%;
    background-color:aquamarine;
    align-items: center;
    justify-content: center;
}